@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Kaushan+Script&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* --General */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin-bottom: 100px;
  height: 100%;
}

.row {
  --bs-gutter-x: 0;
}

.text {
  font-family: "Proza Libre", sans-serif;
}

.heading {
  font-family: "IM Fell English SC", sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 0;
  margin: 0;
  height: 600px;
  width: 100%;
}

/*--Nav */
#nav {
  margin: 0;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar-custom {
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

.bg-custom {
  background-color: #1a4e87;
}

.logo {
  font-family: "Kaushan Script", sans-serif;
  padding-left: 5px;
}

.navbar-custom .navbar-brand {
  color: #d9a21b;
}

.navbar-brand:hover {
  color: #654000;
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  color: #bacef3;
}

.navbar-toggler {
  color: #d9a21b;
  background-color: transparent;
  border: 1px solid #d9a21b;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.nav-icon {
  font-size: 30px;
}
/*--Callout */

.callout {
  margin-top: 50px;
  padding: 100px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

#callout-text {
  font-family: "Proza Libre", sans-serif;
  text-align: center;
}

.jumbotron {
  background-image: url(../images/hero-image.webp);
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cta-button {
  margin-top: 75px;
}

.btn-success {
  color: #fff;
  background-color: #d9a21b;
  border-color: #d9a21b;
}

.btn-success:hover {
  color: #fff;
  background-color: #654000;
  border-color: #654000;
}

/*--Quotes */

#quotes {
  height: 600px;
  width: 100%;
  margin-bottom: 56px;
  background-color: #bacef3;
}

#quotes-heading {
  padding-top: 25px;
}

.left-quote {
  float: left;
  width: 33%;
  margin-top: 15px;
  margin-left: 30px;
  padding: 30px;
  font-size: 16px;
  background-color: #d9a21b;
  border-radius: 20px;
}

.right-quote {
  float: right;
  width: 33%;
  margin-top: 15px;
  margin-right: 30px;
  padding: 30px;
  font-size: 16px;
  background-color: #d9a21b;
  border-radius: 20px;
}

.quote-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-quote i {
  color: #654000;
}

.right-quote i {
  color: #654000;
}

/*--How It Works */

#how-it-works {
  background-image: url(../images/hero-image.jpg);
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 56px;
}

#hiw-heading {
  padding-top: 30px;
  color: #fff;
}

#hiw-paint-time {
  margin: 30px 0;
  color: #fff;
}

.about {
  width: 50%;
  padding: 20px;
  margin-left: 10vw;
  margin-bottom: 20px;
  color: #fff;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

#hiw-list {
  width: 35%;
  float: right;
  margin-right: 10vw;
  padding: 20px;
  color: #fff;
}

/*--Factions */

#fortyk {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #bacef3;
  padding-bottom: 56px;
}

#fortyk h2 {
  padding-top: 30px;
}

.faction-block {
  width: 80%;
  background-color: #d9a21b;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.faction-list {
  list-style: none;
}

.faction-list li {
  display: inline-block;
  text-align: justify;
  margin: 10px 40px 10px 40px;
  padding: 5px;
  width: auto;
}

/*--Gallery */

#photos {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  background-color: #bacef3;
  padding-bottom: 56px;
  padding-top: 56px;
}

#photos img {
  width: 100%;
}

/*--Sign Up */

#sign-up-form {
  height: 100%;
  width: 100%;
  padding-top: 75px;
  background-color: #bacef3;
  padding-bottom: 75px;
}

.form-heading {
  text-align: center;
  margin: 30px;
  background-color: #d9a21b;
  border: 2px solid #d9a21b;
  border-radius: 20px;
}

.form-heading-two {
  margin: 30px;
}

.personal-details {
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.password {
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.details {
  width: 50%;
  display: inline;
  margin: 10px;
}

.universe-selection {
  margin: 0 auto;
}

.faction-selection {
  width: 100%;

}

.form-submit {
  margin: 45px;
}

/*--Footer */

footer {
  background-color: #1a4e87;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  clear: both;
}

#footer-list {
  text-align: center;
  list-style-type: none;
}

#footer-list li {
  float: left;
}

.social-link {
  color: #d9a21b;
  font-size: 35px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.social-link:hover {
  color: #654000;
}

/*--Media Queries */

@media screen and (max-width: 577px) {
  /*--Landing Page */

  .callout {
    margin-top: 25px;
    padding: 50px;
  }

  #quotes {
    height: 1070px;
  }

  .left-quote,
  .right-quote {
    margin-left: 50px;
    width: 75%;
    float: left;
    padding: 30px;
    display: block;
    text-align: center;
    font-size: 16px;
  }

  .social-link {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }

  hr {
    display: none;
  }

  /*--How it Works */

  .about {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    font-size: smaller;
    text-align: center;
    display: block;
  }

  #hiw-list {
    width: 90%;
    float: none;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }

  /*--Factions */

  .faction-block h3 {
    text-align: center;
  }

  .faction-list li {
    display: block;
    text-align: center;
    padding: 0px;
  }

  /*--Gallery */

  #photos {
    column-count: 2;
  }

  /*--Sign Up */

  .form-heading {
    text-align: center;
    background-color: #d9a21b;
    border: 2px solid #d9a21b;
    border-radius: 20px;
  }

  .form-heading-two {
    text-align: center;
  }

  .personal-details {
    display: block;
  }

  .details {
    margin: 0 auto;
    display: block;
    width: 80%;
  }

  .password {
    height: auto;
    width: 80%;
    margin: 0 auto;
  }

  .universe-selection {
    text-align: justify;
    height: auto;
    width: 80%;
    display: block;
  }
}

@media screen and (max-width: 769px) and (min-width: 578px) {
  /*--Landing Page--*/

  .callout {
    margin-top: 25px;
    padding: 50px;
  }

  #quotes {
    height: 1000px;
    margin-bottom: 56px;
  }

  .left-quote,
  .right-quote {
    margin-left: 50px;
    width: 75%;
    float: left;
    padding: 30px 0;
    display: block;
    text-align: center;
    font-size: 16px;
  }

  .social-link {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }

  hr {
    display: none;
  }

  /*--How it Works */

  .about {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    font-size: smaller;
    text-align: center;
    display: block;
  }
  
  #hiw-list {
    width: 90%;
    float: none;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }

  /*--Gallery */

  #photos {
    column-count: 2;
  }

  /*--Sign Up */

  .form-heading {
    text-align: center;
    background-color: #d9a21b;
    border: 2px solid #d9a21b;
    border-radius: 20px;
  }

  .form-heading-two {
    text-align: center;
  }

  .personal-details {
    display: block;
  }

  .details {
    margin: 0 auto;
    display: block;
    width: 80%;
  }

  .password {
    height: auto;
    width: 65%;
    margin: 0 auto;
  }

  .universe-selection {
    text-align: justify;
    height: auto;
    width: 80%;
    display: block;
  }
}

@media screen and (max-width: 992px) and (min-width: 770px) {
  /*--How it Works */

  .about {
    width: 70%;
    padding: 20px;
    margin-left: 10vw;
    margin-bottom: 20px;
    color: #fff;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  #hiw-list {
    width: 70%;
    float: right;
    margin-right: 10vw;
    padding: 20px;
    color: #fff;
  }
}
@media screen and (max-width: 1200px) and (min-width: 993px) {
  /*--How it Works */

  .about {
    width: 60%;
    padding: 20px;
    margin-left: 10vw;
    margin-bottom: 20px;
    color: #fff;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  #hiw-list {
    width: 60%;
    float: right;
    margin-right: 10vw;
    padding: 20px;
    color: #fff;
  }  
}

